# Actividad 3 - Series de Tiempo

> Alfonso Pineda | A01660394  
Mariana Rincón | A01654973  
Karla González | A01541526  
Salvador Mendoza | A01067783  
Álvaro Morán Errejón | A01638034

**Fecha de entrega:** 

---

In [30]:
import pandas as pd

In [31]:
df = pd.read_csv('dow_jones_index.data')
df.head()

,quarter,stock,date,open,high,low,close,volume,percent_change_price,percent_change_volume_over_last_wk,previous_weeks_volume,next_weeks_open,next_weeks_close,percent_change_next_weeks_price,days_to_next_dividend,percent_return_next_dividend
0,1,AA,1/7/2011,$15.82,$16.72,$15.78,$16.42,239655616,3.79267,NaN,NaN,$16.71,$15.97,-4.428490,26,0.182704
1,1,AA,1/14/2011,$16.71,$16.71,$15.64,$15.97,242963398,-4.42849,1.380223,239655616.0,$16.19,$15.79,-2.470660,19,0.187852
2,1,AA,1/21/2011,$16.19,$16.38,$15.60,$15.79,138428495,-2.47066,-43.024959,242963398.0,$15.87,$16.13,1.638310,12,0.189994
3,1,AA,1/28/2011,$15.87,$16.63,$15.82,$16.13,151379173,1.63831,9.355500,138428495.0,$16.18,$17.14,5.933250,5,0.185989
4,1,AA,2/4/2011,$16.18,$17.39,$16.18,$17.14,154387761,5.93325,1.987452,151379173.0,$17.33,$17.37,0.230814,97,0.175029

In [32]:
# Eliminamos las columnas que no nos interesan
df.drop(['quarter', 'stock', 'open', 'close', 'percent_change_volume_over_last_wk', 'previous_weeks_volume', 'next_weeks_open', 'next_weeks_close', 'percent_change_next_weeks_price', 'days_to_next_dividend', 'percent_return_next_dividend'], axis=1, inplace=True)

In [33]:
# Verificar valores nulos en el DataFrame
print(df.isnull().sum())

date                    0
high                    0
low                     0
volume                  0
percent_change_price    0
dtype: int64

In [34]:
# Eliminamos el signo '$' y convertimos las correspondientes columnas a tipo float
df['high'] = df['high'].replace('[\$,]', '', regex=True).astype(float)
df['low'] = df['low'].replace('[\$,]', '', regex=True).astype(float)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  750 non-null    object
 1   high                  750 non-null    float64
 2   low                   750 non-null    float64
 3   volume                750 non-null    int64
 4   percent_change_price  750 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 29.4+ KB

In [36]:
df.index

RangeIndex(start=0, stop=750, step=1)

In [45]:
df.index = pd.to_datetime(df['date'])
df.drop(['date'], axis=1, inplace=True)

In [46]:
# Definimos la columna 'month' para agrupar los datos por mes
df['month'] = df.index.month

# Definimos la columna 'day' para agrupar los datos por día
df['day'] = df.index.day

# Definimos la columna 'day_of_week' para agrupar los datos por día de la semana
df['day_of_week'] = df.index.dayofweek

df.head()

In [53]:
# Calcular el promedio por día
df_mean = df.groupby(df.index).mean()

In [54]:
df_mean.groupby(df_mean.index).count()

            high  low  volume  percent_change_price  month  day  day_of_week
date
2011-01-07     1    1       1                     1      1    1            1
2011-01-14     1    1       1                     1      1    1            1
2011-01-21     1    1       1                     1      1    1            1
2011-01-28     1    1       1                     1      1    1            1
2011-02-04     1    1       1                     1      1    1            1
2011-02-11     1    1       1                     1      1    1            1
2011-02-18     1    1       1                     1      1    1            1
2011-02-25     1    1       1                     1      1    1            1
2011-03-04     1    1       1                     1      1    1            1
2011-03-11     1    1       1                     1      1    1            1
2011-03-18     1    1       1                     1      1    1            1
2011-03-25     1    1       1                     1      1    1            1
2011-04-01     1    1       1                     1      1    1            1
2011-04-08     1    1       1                     1      1    1            1
2011-04-15     1    1       1                     1      1    1            1
2011-04-21     1    1       1                     1      1    1            1
2011-04-29     1    1       1                     1      1    1            1
2011-05-06     1    1       1                     1      1    1            1
2011-05-13     1    1       1                     1      1    1            1
2011-05-20     1    1       1                     1      1    1            1
2011-05-27     1    1       1                     1      1    1            1
2011-06-03     1    1       1                     1      1    1            1
2011-06-10     1    1       1                     1      1    1            1
2011-06-17     1    1       1                     1      1    1            1
2011-06-24     1    1       1                     1      1    1            1